<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pant</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>A Leaflet map!</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="../static/underPages.css">
    <link rel="stylesheet" href="/w3css/4/w3.css">
<style>
    body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("/static/images/plastic_in_ocean.jpg");
  height: 100%;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
    .nav-link{
    font-size: 18px;
    font-family: "Bell MT";
}
</style>

</head>
<body>
<div class="navBar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light justify-content-center">
        <a class="navbar-brand" href="/">MS</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Om oss</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pant">Pant</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/fretex">Fretex</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/recycle">Miljøstasjoner</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/login">Logg inn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registeruser">Registrer</a>
            </li>
        </ul>

        <!--<span class="navbar-text white-text">
          Navbar text with an inline element
        </span>-->
</nav>
</div>
<div class="bgimg-1">
  <div class="caption">
    <span class="border">HUSK Å PANT</span><br>
    <span class="border">Les mer</span>
  </div>
</div>

        <br/>
        <div id="space_maker"><h1> Pant  </h1>
            <br/>
             <div style="text-align: center;">
                 <div >
                     <h5> Hva ønsker du å resirkulere? </h5>
                     <form action="/action_page.php" >
                        <input type="checkbox" name="recproduct" value="plastic"> Plast<br>
                        <input type="checkbox" name="recproduct" value="metal" checked> Metall og glass<br>
                        <input type="checkbox" name="recproduct" value="paper" checked> Papp og papir<br>
                        <input type="checkbox" name="recproduct" value="electric" checked> Elektrisk avfall <br>
                     </form>
                     <a href="https://no.wikipedia.org/wiki/Resirkulering">
                         <button type="submit" id = "big_button"> Søk </button>
                     </a>
                 </div>
             </div>

            <br/>

            <div id="map"></div>
            <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin="">
            </script>
            <script>
               var map = L.map('map').setView([63.430827, 10.410906], 13);
               L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: 'pk.eyJ1Ijoibm9yYWJyYXNrIiwiYSI6ImNqcmFqZmpiZTAweGw0M3VwZWNrbDBmYTMifQ.AOxh5UWfWvR5c_my3yPTBQ'
                }).addTo(map);

               filtered = [(63.42983445294848, 10.368214199539029), (63.439024006030465, 10.42835219928823)]

               marker = new L.marker([63.42983445294848, 10.368214199539029]).addTo(map);

               for (var i = 0; i < filtered.length; i++) {
                    marker = new L.marker([filtered[i][1],filtered[i][2]]).addTo(map);
                }
            </script>
        </div>
</body>
</html>