<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recycle</title>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/underPages.css">

  <title>A Leaflet map!</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
          integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
          crossorigin=""></script>

  <!--Shortest path - LINK -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"/>


  <title>Leaflet Locate</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
  <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet'/>

  <!--jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <style>
    body, html {
      height: 100%;
      margin: 0;
      font: 400 15px/1.8 "Lato", sans-serif;
      color: #777;
    }

    .bgimg-1{
      position: relative;
      opacity: 0.65;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bgimg-1 {
      background-image: url("/static/images/recycle_boks.jpg");
      height: 100%;
    }

    .caption {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      color: #000;
    }

    .caption span.border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
    }
    .caption span.border3 {
    background-color: #111;
    color: #fff;
    padding: 14px;
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 25px;
}

    .nav-link {
      font-size: 18px;
      font-family: "Bell MT";
    }
      .footer {
        width: 100%;
        background-color: #111111;
        opacity: 0.65;
        color: white;
        text-align: center;
        height: 200px;
    }
  </style>

</head>

<body>

<!-- Plug inn for å finne lokasjon-->
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css'
      rel='stylesheet'/>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css'
      rel='stylesheet'/>


<title>Shortest path</title>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<!--Ajax-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


<div class="navBar">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light justify-content-center">
    <a class="navbar-brand" href="/">MS</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/pant">Pant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fretex">Fretex</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recycle">Miljøstasjoner</a>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
          {% block body %}
              {% if session['logged_in'] %}
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Logg ut</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Logg inn</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/registeruser">Registrer</a>
                  </li>
              {% endif %}
          {% endblock %}
      </ul>

    <!--<span class="navbar-text white-text">
      Navbar text with an inline element
    </span>-->
  </nav>
</div>
<div class="bgimg-1">
  <div class="caption">
    <span class="border">ALLE KAN GJØRE LITT - KILDESORTER AVFALLET DITT!</span><br>
      <br><br><br><br><span class="border3">Finn ut hvor din nærmeste miljøstasjon ligger.
      <br><br> Scroll ned for å se kartet</span>
  </div>
</div>


<div id="space_maker">


  <div style="text-align: center;">
    <div class="row">
      <div style="float: left; width: 25%; padding: 15px;">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
         <br/>
        <br/>

        <form method="post" id="pos">
          <input type="radio" name="loc" value="hei" onclick="getCurrPosition()"> Huk av for å bruke din posisjon!<br>
        </form>
        <br/>
        <button type="submit" id="big_button"
                onclick="findNearestMarker()">
          Finn din nærmeste miljøstasjon!
        </button>
      </div>
      <div class="column">
        <br/>
        <div id="map"></div>
      </div>
    </div>
  </div>
  <br/>

  <div>
    <p>Ønsker du å bli kvitt farlig avfall eller annet spesialavfall?</p>
    <a href="https://trv.no/levere-avfall/heggstadmoen-gjenvinningsstasjon/">
      <p>Sjekk ut Trondheim kommunes nettside for Heggestadmoen gjenvinningsstasjon</p>
    </a>
  </div>
</div>
</body>

<!--<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>-->
<script type="text/javaScript">

  var latlongs = createCoordList()
  var addressList = createAddressList()
  var markers = []
  var markersLatlng = []

  var redIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });
  var marker = L.marker();
  // //[63,10]
  var globalMarker = [];


  var ORIGIN = [63.4264656812, 10.392372476357]

  //HENTER FRA DATABASEN
  function createCoordList() {
    //LATITUDE
    var latitude = JSON.parse({{lats | tojson}});
    var lats = []
    for (var i = 0; i < 178; i++) {
      var l = latitude[i]
      var lat = parseFloat(l)
      lats.push(lat)
    }

    //LONGITUDE
    var longitude = JSON.parse({{longs | tojson}});
    var longs = []
    for (var i = 0; i < 178; i++) {
      var l = longitude[i]
      var long = parseFloat(l)
      longs.push(long)
    }

    //Opretter liste
    latlongs = []
    for (var i = 0; i < 178; i++) {
      latlongs.push([lats[i], longs[i]])
    }
    return latlongs
  }


  //Lager adresseliste
  function createAddressList() {
    var names = JSON.parse({{names | tojson}});
    var addresses = []
    for (var i = 0; i < 178; i++) {
      var n = names[i]
      addresses.push([n])
    }
    return addresses
  }


  var map = L.map('map').setView([63.4264656812, 10.392372476357], 13);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoibm9yYWJyYXNrIiwiYSI6ImNqcmFqZmpiZTAweGw0M3VwZWNrbDBmYTMifQ.AOxh5UWfWvR5c_my3yPTBQ'
  }).addTo(map);

  function getCurrPosition() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (pos) {
        //You have your location here
        console.log("Latitude: " + pos.coords.latitude +
          " Longitude: " + pos.coords.longitude);
        you = L.marker([pos.coords.latitude, pos.coords.longitude], {icon: redIcon});
        you.addTo(map);
        map.setView([pos.coords.latitude, pos.coords.longitude], 13, {animation: true});
        globalMarker = [pos.coords.latitude, pos.coords.longitude];
        console.log('hallo')
        console.log(globalMarker)

      });
    } else {
      console.log("Geolocation is not supported by this browser.");
    }

  }


  function createLayer(coordList) {
    for (var i = 0; i < coordList.length; i++) {
      var tmpPoint = L.latLng(coordList[i])
      markersLatlng.push(tmpPoint)
      var tmpMarker = L.marker(coordList[i])
      myPopup = L.popup().setContent("<strong>" + addressList[i] + "</strong>");
      tmpMarker.bindPopup(myPopup);
      markers.push(tmpMarker)
    }
    var markerLayerGroup = L.layerGroup(markers);
    markerLayerGroup.addTo(map)
    return markerLayerGroup
  }

  coordLayer = createLayer(latlongs)

  //console.log(coordLayer)


  function centerZoom(map, marker) {
    map.setView(marker.getLatLng(), 16);
  }


  function findNearestMarker() {
    var minDist = 1000000,
      nearestLatLng = [63.4264656812, 10.392372476357],
      nearest_text = '*None*',
      markerDist = 0,
      len = markers.length;


    console.log(markersLatlng.length)
    console.log(addressList.length)
    ORIGIN = globalMarker;
    console.log(globalMarker)
    for (var i = 0; i < markersLatlng.length - 1; i += 1) {
      markerDist = markersLatlng[i].distanceTo(ORIGIN)
      if (markerDist < minDist) {
        minDist = markerDist;
        nearest_text = addressList[i];
        nearestLatLng = markersLatlng[i]
      }
    }

    console.log('FERDIG! ' + nearestLatLng)
    console.log('her er coordlayer' + coordLayer)

    L.Routing.control({
      waypoints: [
        L.latLng(ORIGIN),
        L.latLng(nearestLatLng)
      ],
    }).addTo(map);

    var originPopup = L.popup().setContent("<p>Du er her!</p> <strong>").openPopup();
    originPopup.popupOpen = true
    var originMarker = L.marker(ORIGIN, {icon: redIcon}).bindPopup(originPopup).addTo(map);

    var nearestPopup = L.popup().setContent(" <strong>" + nearest_text + "</strong>").openPopup();
    nearestPopup.popupOpen = true
    var nearestMarker = L.marker(nearestLatLng).bindPopup(nearestPopup).addTo(map);

    alert("Du finner din nærmeste miljøstasjon ved " + nearest_text)

    //var polyline = L.polyline([nearestLatLng, origin], {color: 'red'}).addTo(map);

    centerZoom(map, nearestMarker)

    map.removeLayer(coordLayer)


  }
</script>

<!-- Input og utput av kommentarer-->
<script>
    var recycle_stasjoner = createStationNameList()
    var recycle_statuser = createStatusList()
    var recycle_kommentarer = createCommentList()

    function createStationNameList() {
        var recycle_station_names = JSON.parse({{recycle_station_names|tojson}});
        var recycle_stasjoner = []
        for (var i = 0; i < recycle_station_names.length; i++) {
            var n = recycle_station_names[i]
            recycle_stasjoner.push([n])
        }
        return recycle_stasjoner
    }

    function createStatusList() {
        var recycle_statuses = JSON.parse({{recycle_statuses|tojson}});
        var recycle_statuser = []
        for (var i = 0; i < recycle_statuses.length; i++) {
            var n = recycle_statuses[i]
            recycle_statuser.push([n])
        }
        return recycle_statuser
    }

    function createCommentList() {
        var recycle_feedback_comments = JSON.parse({{ recycle_feedback_comments | tojson }});
        var recycle_kommentarer = []
        for (var i = 0; i < recycle_feedback_comments.length; i++) {
            var n = recycle_feedback_comments[i]
            recycle_kommentarer.push([n])
        }
        return recycle_kommentarer
    }
    console.log(createCommentList());
    console.log(createStatusList());
    console.log(createStationNameList());
</script>

<div class="row row-no-gutters">
    {% block feed %}
        {% if session['logged_in'] %}
            <!-- Legger til kontaktskjema-->
            <div class="col-md-6" style="padding-left: 100px ">
                <form id="contact-form" method="post" action="" role="form">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="recycle_station_name">Navn på miljøstasjon *</label>
                                    <input id="recycle_station_name" type="text" name="recycle_station_name"
                                           class="form-control"
                                           autocomplete="off"
                                           placeholder="Navn på miljøstasjon"
                                           required="required"
                                           data-error="Vennligst skriv inn navn på miljøstasjon">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="recycle_status">Hva vil du rapportere *</label>
                                    <select id="recycle_status" name="recycle_status" class="form-control"
                                            required="required"
                                            data-error="Vennligst spesifiser hva du vil melde fra om">
                                        <option value=""></option>
                                        <option value="Full stasjon">Stasjonen er full</option>
                                        <option value="Feil på stasjon">Det er en feil på stasjonen</option>
                                        <option value="Feil i kart">Det er en feil i kartet</option>
                                        <option value="Annet">Annet</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="recycle_comment">Melding</label>
                                    <textarea id="recycle_comment" name="recycle_comment" class="form-control"
                                              placeholder="Skriv inn din melding" rows="4"
                                              data-error="Please, leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <input type="submit" class="btn btn-success btn-send" value="Send inn"
                                       style="background-color: #777777;border-color: #777777">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <p class="text-muted">
                                    <strong>*</strong> Disse feltene må fylles inn
                                    <a href="https://bootstrapious.com/p/how-to-build-a-working-bootstrap-contact-form"
                                       target="_blank"></a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Legger til kommentarer-->
            <div class="col-md-6" style=" padding-left: 70px">
                <div class="col-md-12">
                    <caption>Kommentarer</caption>
                    <div id="table-scroll" style="border: 0.5px #777777 solid; box-sizing: border-box">
                        <table id="myTabel" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Stasjon</th>
                                <th>Status</th>
                                <th>Kommentarer</th>
                            </tr>
                            </thead>
                            <tbody id="tableBody_recycle">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>
<!-- Script for å legge inn kommentarene-->
<script>
    cols = 3;
    var tableRef = document.getElementById("tableBody_recycle");

    for (var i = 0; i < recycle_stasjoner.length; i += 1) {
        var row = tableRef.insertRow(i);
        for (var j = 0; j < cols; j += 1) {
            var cell = row.insertCell(j);
            if (j === 0) { // First td
                var text = document.createTextNode(recycle_stasjoner[i]);
                cell.appendChild(text);
            }
            if (j === 1) { // Second td
                var text = document.createTextNode(recycle_statuser[i]);
                cell.appendChild(text);
            }
            if (j === 2) { // Second td
                var text = document.createTextNode(recycle_kommentarer[i]);
                cell.appendChild(text);
            }
        }
    }
</script>
<!-- Styling for feedback og kommentarboks-->
<style>
    table, th, td {
        font: 400 15px/1.8 "Lato", sans-serif;
        border: 0.5px solid #777777;
        border-collapse: collapse;
    }

    th {
        font: 600 15px/1.8 "Lato", sans-serif;
    }

    th, td {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #table-scroll {
        height: 250px;
        overflow: auto;
        margin-top: 20px;
    }
</style>

<!--Footer-->
<footer class="footer">
    <div class="footer">
        <div>
            <br><h6>Takk til Fretex, Trondheim kommune og infinitum for data</h6>
            <br><h5>Laget med kjærlighet av:</h5><br>
            <h6>Kristin Raaen, Nora S. Brask og Helene S. Molberg</h6>
        </div>
    </div>
</footer>
</body>
</html>
